.header {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    max-width: 1200px;
    margin: auto;

}

.container {
    padding: 38px 0;
    display: flex;
    justify-content: space-between;
}

.leftBox {
    display: flex;
    align-items: center;
}

.rightBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90px;
    padding-right: 10px;
    font-size: 40px;
}