.container {

}

.container h2 {
    font-weight: 700;
    font-size: 44px;
    color: #282828;
}

.container hr {
    display: block;
    height: 2px;
    border: 0;
    background-color:#282828;
    margin: 10px 0;
    padding: 0;
}

.container hr::before {
    content: '';
    display: block;
    width: 350px;
    height: 2px;
    background-color:#F4CF87;
}