.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #282828;
}

.text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #fff;
}