.container {
    display: flex;
}

.container .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #282828;
}

.text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #fff;
}